:root {
  --primary-dark: #000208;
  --secondary-blue: #02052a;
  --primary-blue: #002687;
  --gradient-text: linear-gradient(45deg, #ffffff, #00a3ff);
  --gradient-primary: linear-gradient(15deg, #02052a, #00a3ff);
  --white: #ffffff;
  --black: #000000;
  --muted: #9aa4b2;
}

body {
  overflow-x: hidden;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

.page-out {
  animation: slideOut 1s forwards;
}

*::-webkit-scrollbar {
  display: none;
}