:root {
  --primary-dark: #000208;
  --primary-blue: rgb(2, 5, 42);
  --gradient-blue: linear-gradient(45deg, rgb(118, 200, 238), rgb(56, 56, 239));
  --gradient-text: linear-gradient(
    45deg,
    rgb(146, 237, 224),
    rgb(186, 159, 241)
  );
  --white: #ffffff;
  --black: #000000;
}

body {
  overflow-x: hidden;
}

/* Navbar */
@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.navbar-wrapper {
   position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1000;

}

.navbar-container {
  background-color: var(--primary-blue);
  padding: 0px 10px;
  border-radius: 30px;
  animation: slideDown 1s;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.navbar {
  font-family: "Montserrat", serif;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 15px;
  color: var(--white);
  gap: 30px; 
}

.navbar p {
  font-weight: 700;
  letter-spacing: 1px;
  animation: slideDown 1s;
  margin-right: auto;
}

.navbar ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  animation: slideDown 1s;
}

.navbar ul li {
  list-style-type: none;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.navbar ul li a:hover {
  color: rgb(101, 222, 255);
  transform: scale(1.1);
}


.home, .food, .hometown, .profile, .tourist {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 150px 5%;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(to bottom, black 10%, var(--primary-blue));
  text-align: center;
}

h1 {
  color: var(--white);
  font-weight: 800;
  font-size: clamp(2.5rem, 6vw, 60px);
  animation: zoomIn 3s forwards;
  width: 100%;
  max-width: 800px;
  margin-bottom: 20px;
}

h2 {
  text-align: center;
  font-size: clamp(2rem, 5vw, 30px);
  font-weight: 800;
  background: var(--gradient-text) border-box;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  width: 100%;
  max-width: 800px;
  margin-bottom: 15px;
}